<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이페이지</title>

    <style>


</style>

<link rel="stylesheet" th:href="@{/css/mypage.css}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">


</head>
<body>


    <div class="background">
        
        <div class="frame">
            <!-- 로고, 메뉴 버튼 -->
            <header class="header">
                <div class="menu-icon">
                    <a th:href="@{#}"><img th:src="@{/img/menu-btn.png}"></a>
                <h1 class="logo-text">RecyQ</h1></div>
                <div class="logo-icon">
                    <img th:src="@{/img/logo.png}">
                </div>
            </header>

         <!-- 프로필, 회원 정보 수정 -->
            <main class="white-card">
                <div class="profile">
                    <div class="profile-img">
                        <img th:src="@{/img/profile.png}">
                        <div class="name">신권주 님</div>
                    </div>                   
                    <a class="correct" th:href="@{/updateUser}">회원정보 수정</a>
                </div>
            </main>
         
         <!-- 적립한 포인트 -->
            <main class="white-card2">
                <div class="allpoint">
                   <div class="mypoint">
                        <img th:src="@{/img/point.png}">
                        <p>내 포인트</p>
                        <div class="point">777P</div>
                   </div>
                   <div class="point-date">
                    <div class="point-today">
                        <p>오늘 적립한 포인트</p>
                        <div class="today-point">777P</div>
                    </div>
                    <div class="point-month">
                        <p>이번달 적립한 포인트</p>
                        <div class="month-point">777P</div>
                    </div>
                   </div>
                </div>

            </main>
         <!-- 포인트 최근 내역 -->
            <main class="white-card3">
                <div class="head">
                    <h3>최근 내역</h3>
                    <div class="arrow">
                        <a th:href="@{pointList}"><img th:src="@{/img/Vector.png}"></a>
                    </div>     
                </div>
                <div class="history">
                    <div class="date-list">
                        <p class="date">26.02.27</p>
                        
                        <div class="point-item">
                            <div class="item-info">
                                <span class="item-title">재활용</span>
                            </div>
                            <div class="point-info">
                                <span class="point-change">+ 0P</span>
                                <span class="point-total">777P</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="history">
                    <div class="date-list">
                        <p class="date">26.02.26</p>  
                        <div class="point-item">
                            <div class="item-info">
                                <span class="item-title">재활용</span>
                            </div>
                            <div class="point-info">
                                <span class="point-change">+ 0P</span>
                                <span class="point-total">777P</span>
                            </div>  
                        </div>
                          <div class="point-item">
                            <div class="item-info">
                                <span class="item-title">재활용</span>
                            </div>
                            <div class="point-info">
                                <span class="point-change">+ 0P</span>
                                <span class="point-total">777P</span>
                            </div>  
                        </div>
                    </div>
                </div>           
            </main>
            <!--네비바-->
            <nav class="nav-bar">
                <a th:href="@{/main}" class="nav-item">
                    <img th:src="@{/img/home.png}">
                    <span>홈</span>
                </a>
                <a th:href="@{/scan}" class="nav-item">
                    <img th:src="@{/img/scan.png}">
                    <span>스캔</span>
                </a>
                <a th:href="@{#}" class="nav-item">
                    <img th:src="@{/img/shop.png}">
                    <span>상점</span>
                </a>
                <a th:href="@{mypage}" class="nav-item">
                    <img th:src="@{/img/profile.png}">
                    <span>마이페이지</span>
                </a>
            </nav>
        </div>
    </div>
</body>
</html>