<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>전체 내역</title>

    <style>


    </style>
<link rel="stylesheet" th:href="@{/css/pointList.css}">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">


</head>
<body>

   
    <div class="background">
        
        <div class="frame">
            <!-- 로고, 메뉴 버튼 -->
            <header class="header">
                <div class="menu-icon">
                   <a th:href="@{#}"><img th:src="@{/img/Shape.png}"></a>
                <h1 class="logo-text">RecyQ</h1></div>
                <div class="logo-icon">
                   <img th:src="@{/img/icon.png}">
                </div>
            </header>
         <!-- 포인트 전체 내역 -->
            <main class="white-card">
                <div class="head">
                    <h3>전체 내역</h3>
                    <!-- 보유 포인트 -->
                    <div class="mypoint">
                        <p>내 포인트</p>
                        <p class="point">777P</p>
                    </div>     
                </div>
            
            
                <div class="history">
                   <!-- 날짜 -->
                    <div class="date-list">
                        <p class="date">26.02.27</p>
                        
                        <div class="point-item">
                            <div class="item-info">
                               <!-- 변동 내용 -->
                                <span class="item-title">재활용</span>
                            </div>
                            <div class="point-info">
                               <!-- 포인트 변동 -->
                                <span class="point-change">+ 0P</span>
                                <!-- 변동 이후 포인트 -->
                                <span class="point-total">777P</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="history">
                    <div class="date-list">
                        <p class="date">26.02.26</p>  
                        <div class="point-item">
                            <div class="item-info">
                                <span class="item-title">재활용</span>
                            </div>
                            <div class="point-info">
                                <span class="point-change">+ 0P</span>
                                <span class="point-total">777P</span>
                            </div>  
                        </div>
                          <div class="point-item">
                            <div class="item-info">
                                <span class="item-title">재활용</span>
                            </div>
                            <div class="point-info">
                                <span class="point-change">+ 0P</span>
                                <span class="point-total">777P</span>
                            </div>  
                        </div>
                    </div>
                </div>
                <div class="history">
                    <div class="date-list">
                        <p class="date">26.02.25</p>  
                        <div class="point-item">
                            <div class="item-info">
                                <span class="item-title">재활용</span>
                            </div>
                            <div class="point-info">
                                <span class="point-change">+ 0P</span>
                                <span class="point-total">777P</span>
                            </div>  
                        </div>
                          <div class="point-item">
                            <div class="item-info">
                                <span class="item-title">재활용</span>
                            </div>
                            <div class="point-info">
                                <span class="point-change">+ 0P</span>
                                <span class="point-total">777P</span>
                            </div>  
                        </div>
                    </div>
                </div>
                <div class="history">
                    <div class="date-list">
                        <p class="date">26.02.24</p>  
                        <div class="point-item">
                            <div class="item-info">
                                <span class="item-title">재활용</span>
                            </div>
                            <div class="point-info">
                                <span class="point-change">+ 0P</span>
                                <span class="point-total">777P</span>
                            </div>  
                        </div>
                    </div>
                </div>
                <div class="history">
                    <div class="date-list">
                        <p class="date">26.02.23</p>  
                        <div class="point-item">
                            <div class="item-info">
                                <span class="item-title">재활용</span>
                            </div>
                            <div class="point-info">
                                <span class="point-change">+ 0P</span>
                                <span class="point-total">777P</span>
                            </div>  
                        </div>
                         <div class="point-item">
                            <div class="item-info">
                                <span class="item-title">재활용</span>
                            </div>
                            <div class="point-info">
                                <span class="point-change">+ 0P</span>
                                <span class="point-total">777P</span>
                            </div>  
                        </div>
                    </div>
                </div>
                <div class="history">
                    <div class="date-list">
                        <p class="date">26.02.23</p>  
                        <div class="point-item">
                            <div class="item-info">
                                <span class="item-title">재활용</span>
                            </div>
                            <div class="point-info">
                                <span class="point-change">+ 0P</span>
                                <span class="point-total">777P</span>
                            </div>  
                        </div>
                         <div class="point-item">
                            <div class="item-info">
                                <span class="item-title">재활용</span>
                            </div>
                            <div class="point-info">
                                <span class="point-change">+ 0P</span>
                                <span class="point-total">777P</span>
                            </div>  
                        </div>
                    </div>
                </div>
            </main>        
            <!--네비바-->
            <nav class="nav-bar">
                <a th:href="@{/main}" class="nav-item">
                    <img th:src="@{/img/home.png}">
                    <span>홈</span>
                </a>
                <a th:href="@{#}" class="nav-item">
                    <img th:src="@{/img/scan.png}">
                    <span>스캔</span>
                </a>
                <a th:href="@{#}" class="nav-item">
                    <img th:src="@{/img/shop.png}">
                    <span>상점</span>
                </a>
                <a th:href="@{mypage}" class="nav-item">
                    <img th:src="@{/img/profile.png}">
                    <span>마이페이지</span>
                </a>
            </nav>
        </div>
    </div>
</body>
</html>