<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>RecyQ - 퀴즈 시작</title>

    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/nav.css}">
    <link rel="stylesheet" th:href="@{/css/quizStart.css}">
</head>
<body>

    <div class="app-container">
        
        <div th:replace="~{header :: headerFragment}"></div>

        <div class="quiz-start-wrap">
            
            <div class="white-card">
                <img class="ox-img" th:src="@{/img/ox.png}" alt="OX 퀴즈 로고">
                <div class="quiz-text">하루 3문제 재활용 OX 퀴즈 풀고<br>포인트 받기!</div>
            </div>

            <a th:href="@{/quiz}" class="quiz-start-btn">퀴즈 풀기</a>
            
        </div>

        <div th:replace="~{nav :: navFragment}"></div>

    </div>

    <script>
        function openMenu() {
            document.getElementById("sideMenu").classList.add("active");
            document.getElementById("menuOverlay").classList.add("active");
        }
        function closeMenu() {
            document.getElementById("sideMenu").classList.remove("active");
            document.getElementById("menuOverlay").classList.remove("active");
        }
    </script>
</body>
</html>