<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"><meta name="theme-color" content="#496D36">
<meta name="apple-mobile-web-app-capable" content="yes">

<title>시작페이지</title>
<link rel="stylesheet" href="/recyq/css/start.css">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">

</head>

<body>

<div class="app-container">

    <div class="start-page">

        <div class="logo-box">
            <h1 class="logo">RecyQ</h1>
            <p class="sub-text">분리수거를 더욱 쉽게!</p>
        </div>

        <a href="/recyq/login" class="start-btn">시작하기</a>
    
    </div>

</div>

</body>
</html>